<div class="contact_info_main">
  <div class="contact_info_content">
    <ul>
      <li>
        <a style="color:#303030">Products</a>
      </li>
      <li>
        <a>Video Gallery</a>
      </li>
      <li>
        <a>Bulk Enquiry</a>
      </li>
      <li>
        <a>Our Process</a>
      </li>
      <li>
        <a>About Us</a>
      </li>
      <li>
        <a>News & Media</a>
      </li>
    </ul>
    <ul>
      <li>
        <a>Contact Us</a>
      </li>
      <li>
        <a>Terms & Conditions</a>
      </li>
      <li>
        <a>Account</a>
      </li>
      <li>
        <a>Shipping & Return Policy</a>
      </li>
      <li>
        <a>Track Order</a>
      </li>
      <li>
        <a>Privacy Policy</a>
      </li>
    </ul>
    <div>
      <div>
        <p style="font-weight:bold;margin:10px 0">Corporate Address</p>
        <p style="margin:10px 0">7-1-24-2/D, Greendale, Ameerpet Rd,<br>
          Leelanagar, Begumpet, Hyderabad, Telangana 500016</p>
      </div>
      <div>
        <p style="font-weight:bold;margin:50px 0 10px">Time Of Operation</p>
        <p style="margin:10px 0">10 am to 6 pm from Monday to Friday</p>
      </div>
    </div>
    <div>
      <p style="font-weight:bold;margin:10px 0">Contact Number:<span style="font-weight:normal"> +91 4023732455</span></p>
      <p style="font-weight:bold;margin:10px 0">Customer Support Email ID: <span style="font-weight:normal">hello@continental.coffee</span></p>
      <p style="font-weight:bold;margin-top:20px;">Follow Us</p>
      <div style="display:flex; width: 250px; justify-content: space-between;">
        <img src="assets/facebook.png" style="width:35px">
        <img src="assets/yt.png" style="width:35px">
        <img src="assets/twitter.png" style="width:35px">
        <img src="assets/linkedin.png" style="width:35px">
        <img src="assets/instagram.jpg" style="width:35px">
      </div>
    </div>
  </div>
</div>
<div class="copyright_main">
  <p style="font-size:10.5px;padding:0 20px;color:#303030;margin: 0;">Copyright © 2021 Continental Coffee. All rights reserved</p>
  <p style="font-size:10.5px;padding:0 20px;color:#303030;margin: 0;">POWERED BY SHOPTIMIZE</p>
</div>
